<nav class="nav">
    <ul class="nav__ul">
        <li class="nav__li"><a class="nav__a" routerLink="/" routerLinkActive="_active"><span class="material-icons">home</span></a></li>
        <li class="nav__li"><a class="nav__a" routerLink="/profile" routerLinkActive="_active"><span class="material-icons">person</span></a></li>
        <li class="nav__li"><a class="nav__a" routerLink="/chat" routerLinkActive="_active"><span class="material-icons">chat_bubble_outline</span></a></li>
        <li class="nav__li"><a class="nav__a" routerLink="/book" routerLinkActive="_active"><span class="material-icons">auto_stories</span></a></li>
        <li class="nav__li"><a class="nav__a" routerLink="/dark" routerLinkActive="_active"><span class="material-icons">dark_mode</span></a></li>
    </ul>
</nav>
